In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt

df = pd.read_csv('clean.csv')

df.head(3)

,Unnamed: 0,AGE,CRIME,DATE,DAY,METHOD,MONTH,NAME (Last First),RACE,SEX,STATE,Unnamed: 0.1,YEAR,executed,COUNT,CLEANED CRIME,Count,METHOD CLEAN
0,0,NaN,Espionage,NaN,NaN,Shot,NaN,KENDALL GEORGE,White,M,VA,0.0,1608,y,25.0,Espionage,141.0,Shot
1,1,18.0,Theft,NaN,26.0,Shot,4.0,ATANASIO,Native Amer.,M,CA,2442.0,1831,y,23.0,Theft,141.0,Shot
2,2,NaN,Theft,NaN,28.0,Shot,5.0,AGUILAR SIMON,Hispanic,M,CA,2443.0,1831,y,23.0,Theft,141.0,Shot

In [2]:
df['VALUES'] = df.groupby(['CLEANED CRIME'])['YEAR'].transform('count')

In [3]:
def custom_round(x, base=5):
    return int(base * round(float(x)/base))

df['PERIOD'] = df['YEAR'].apply(lambda x: custom_round(x, base=5))
df['CRIME SLUG'] = df['CLEANED CRIME'].str.replace(' ','-')
df['CRIME SLUG'] = df['CRIME SLUG'].str.replace('---','-')
df['CRIME SLUG'] = df['CRIME SLUG'].str.lower()

df.head(10)

,Unnamed: 0,AGE,CRIME,DATE,DAY,METHOD,MONTH,NAME (Last First),RACE,SEX,...,Unnamed: 0.1,YEAR,executed,COUNT,CLEANED CRIME,Count,METHOD CLEAN,VALUES,PERIOD,CRIME SLUG
0,0,NaN,Espionage,NaN,NaN,Shot,NaN,KENDALL GEORGE,White,M,...,0.0,1608,y,25.0,Espionage,141.0,Shot,27.0,1610,espionage
1,1,18.0,Theft,NaN,26.0,Shot,4.0,ATANASIO,Native Amer.,M,...,2442.0,1831,y,23.0,Theft,141.0,Shot,23.0,1830,theft
2,2,NaN,Theft,NaN,28.0,Shot,5.0,AGUILAR SIMON,Hispanic,M,...,2443.0,1831,y,23.0,Theft,141.0,Shot,23.0,1830,theft
3,3,NaN,Theft,NaN,28.0,Shot,5.0,SAGARRA JOSE,Hispanic,M,...,2444.0,1831,y,23.0,Theft,141.0,Shot,23.0,1830,theft
4,4,NaN,Murder,NaN,8.0,Shot,5.0,ANATCHCOM,Native Amer.,M,...,61.0,1669,y,8337.0,Murder,141.0,Shot,8562.0,1670,murder
5,5,NaN,Murder,NaN,27.0,Shot,7.0,OLD MATOONAS,Native Amer.,M,...,84.0,1676,y,8337.0,Murder,141.0,Shot,8562.0,1675,murder
6,6,NaN,Murder,NaN,29.0,Shot,11.0,FOLLE-AVOINE,Native Amer.,M,...,104.0,1683,y,8337.0,Murder,141.0,Shot,8562.0,1685,murder
7,7,NaN,Murder,NaN,29.0,Shot,11.0,NaN,Native Amer.,M,...,105.0,1683,y,8337.0,Murder,141.0,Shot,8562.0,1685,murder
8,8,NaN,Murder,NaN,10.0,Shot,1.0,ROCHIN IGNACIO,Hispanic,M,...,1464.0,1795,y,8337.0,Murder,141.0,Shot,8562.0,1795,murder
9,9,NaN,Murder,NaN,NaN,Shot,5.0,NaN,Native Amer.,M,...,1895.0,1815,y,8337.0,Murder,141.0,Shot,8562.0,1815,murder

In [4]:
dfmod = df[df['VALUES'] > 49]

#dfmod.to_csv('what-is-this.csv')

In [5]:
newpivot = dfmod.pivot_table(index=['PERIOD'],values='VALUES',columns=['CLEANED CRIME'],aggfunc='count')

newpivot.to_csv('output_for_graphic.csv')

In [6]:
methods = df.pivot_table(index=['PERIOD'],values='VALUES',columns=['METHOD CLEAN'],aggfunc='count')

methods.to_csv('methods_for_graphic.csv')